doctype html
html
	head
		//- Title, CSS files
		include header.pug
		
		link(rel='stylesheet', href='/css/main.css')
	body
		include navbar.pug
		#wrapper
			#page-content
				#ticket-wrapper
					#filter-menu(style="min-width:194px")
						.menu-header Ticket categories
						.filter-category
							.category-item.category-header 
								span.octicon.octicon-triangle-down
								| Category
							#subheader-wrapper1
								.category-item.category-subheader Porn
									span.badge.badge-secondary.float-right.mr-1 999
								.category-item.category-subheader Not Porn
									span.badge.badge-secondary.float-right.mr-1 1
							.category-item.category-header
								span.octicon.octicon-triangle-down
								| Category 2
							#subheader-wrapper2
								.category-item.category-subheader TPS
									span.badge.badge-secondary.float-right.mr-1 1
								.category-item.category-subheader Stroken
									span.badge.badge-secondary.float-right.mr-1 999
					
					#ticket-display.mx-1
						.menu-header.row#ticket-display-header
							.col-8 Subject
							.col-1 Priority
							.col-1 Status
							.col-1.text-right Date
							.col-1.text-right Updated
						- var asdf = [ {s: "Yeaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaas", op: "Me", id: 12345, p: "Normal", st: "Open", da: new Date(), du: new Date(), u: new Date(), c: "Not Porn"},{s: "No", id:12344, op: "You", p: "High", st: "In Progress", da: new Date(), du: new Date(), u: new Date(), c: "Porn"} ]
						each ticket in asdf
							.ticket.row
								.col-8.my-auto
									.row.px-2
										a.ticket-subject.truncate-text(href='/ticket?id=0', style="max-width:calc(100% - 76.4px)")= ticket.s
										if Math.random() > 0.5
											span.badge.badge-warning.ml-auto.my-auto upd by cust
										else
											span.badge.badge-success.ml-auto.my-auto upd by tech
									.row.px-2
										a.ticket-poster(href="#") 
											img.my-auto(src="/img/icons8-account-24.png", alt="", width="12", height="12")
											| #{ticket.op}
										a.ticket-poster.ml-2(href="#")
											img.my-auto(src="/img/icons8-folder.svg", alt="", width="12", height="12")
											| #{ticket.c}
										a.ticket-poster.ml-auto(href="#")= '#' + ticket.id

								.col-1.my-auto= ticket.p
								.col-1.my-auto= ticket.st
								.col-1.my-auto.text-right(data-toggle="tooltip", title=moment(ticket.da).format('MM/DD/YYYY hh:mm:SS A'))= moment(ticket.da).format('M/D/YY')
								.col-1.my-auto.text-right(data-toggle="tooltip", title=moment(ticket.u).format('MM/DD/YYYY hh:mm:SS A'))= moment(ticket.u).format('M/D/YY')

			.bg-secondary#sidenav
				ul.list-group.list-group-flush
					li.list-group-item.list-group-item-action.list-group-item-dark Account
					li.list-group-item.list-group-item-action.list-group-item-dark Logout
		
		//- Bootstrap, jQuery, etc.
		include scripts.pug